<article class="card">
  <header class="card-header">
    <span class="txt-small gray">December 30, 2016</span>
  </header>
  <div class="mgy-200">
    <h3 class="heading-small gray">Lorem ipsum dolor sit.</h3>
    <p class="txt gray mg-top-100">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad incidunt
      perspiciatis eligendi voluptates repudiandae corrupti, nulla fuga dolore
      consequatur consectetur!
    </p>
  </div>
  <a class="link" href="#">Read more<i class="fa-solid fa-arrow-right"></i></a>
</article>
