<article class="job-card">
  <div class="icon-heading">
    <i class="fa-solid fa-briefcase"></i>
    <h4>Job experiences</h4>
  </div>
  <ul class="job-list mgy-200">
    <li class="job">
      <div class="company-logo">
        <img src="./images/facebook.webp" />
      </div>
      <div class="name-position">
        <p class="txt">Facebook</p>
        <p class="txt-small gray">IT Support</p>
      </div>
      <span class="year txt-small gray">2007 - 2010</span>
    </li>
    <li class="job">
      <div class="company-logo">
        <img src="./images/aws.webp" />
      </div>
      <div class="name-position">
        <p class="txt">AWS</p>
        <p class="txt-small gray">Developer</p>
      </div>
      <span class="year txt-small gray">2010 - 2013</span>
    </li>
    <li class="job">
      <div class="company-logo">
        <img src="./images/google.webp" />
      </div>
      <div class="name-position">
        <p class="txt">Google</p>
        <p class="txt-small gray">Back-end</p>
      </div>
      <span class="year txt-small gray">2013 - 2019</span>
    </li>
    <li class="job">
      <div class="company-logo">
        <img src="./images/netflex.webp" />
      </div>
      <div class="name-position">
        <p class="txt">Netflex</p>
        <p class="txt-small gray">IT Support</p>
      </div>
      <span class="year txt-small gray">2019 - present</span>
    </li>
  </ul>
  <a download href="#" class="btn btn-block"
    >Download<i class="fa-solid fa-arrow-down"></i
  ></a>
</article>
